{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Register" id="events">
    <!--script type="text/javascript">
    $( '#artists' ).live( 'pagebeforeshow',function(event,data){
        eventPage(event,data);
    });
    </script-->
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
    </div>
    <div data-role="content">
        <ul id="d-list" data-role="listview" data-inset="true" data-filter="true" data-dividertheme="a">
            <li data-role="list-divider">Artistas</li>
            {% for a in artists %}
                <li><a href="../albums/{{ a.id }}" ><img src="{{a.url}}">{{ a.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


