{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Register" id="events">
    <!--script type="text/javascript">
    $( '#canais' ).live( 'pagebeforeshow',function(event,data){
        eventPage(event,data);
    });
    </script-->
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
    </div>
    <div data-role="content">
        <ul id="d-list" data-role="listview" data-inset="true" data-filter="true" data-dividertheme="a">
            <li data-role="list-divider">Canais</li>
            {% for c in canais %}
                <li id="canal{{ c['numero'] }}" onclick="clickedop('{{c['numero']}}');">{{ c['canal'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


