{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Register" id="events">
    <!--script type="text/javascript">
    $( '#devices' ).live( 'pagebeforeshow',function(event,data){
        eventPage(event,data);
    });
    </script-->
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
    </div>
    <div data-role="content">
        <button onclick="location.href='/artists/list';">Artistas</a></button>
        <button onclick="location.href='/playlists';">Playlist</a></button>
        <button onclick="location.href='/canais';">Controle</a></button>
    </div>
</div>
{% endblock %}


