{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Register" id="events">
    <!--script type="text/javascript">
    $( '#musics' ).live( 'pagebeforeshow',function(event,data){
        eventPage(event,data);
    });
    </script-->
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
    </div>
    <div data-role="content">
        <ul id="d-list" data-role="listview" data-inset="true" data-filter="true" data-dividertheme="a">
            <li data-role="list-divider">Musicas</li>
            {% for m in musics %}
                <li id="music{{ m.id }}" onclick="selectedMusic('{{ m.id }}');">{{ m.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


